@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.slick-dots li button:before {
  font-size: 28px;
  font-weight: bold;
  content: '━';
}

.slick-track {
  margin-bottom: -30px;
}

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}